---
const { platform, username } = Astro.props;
---

<div class='social-links'>
  <p>
    Seguimi su
    <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!
  </p>
</div>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
