---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">Su di me</a>
        <a href="/blog/">Blog</a>

		<h1>Il mio Blog di apprendimento di Astro</h1>
        <p>Questo è dove pubblicherò sul mio percorso di apprendimento di Astro.</p>
	</body>
</html>
