---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const posts = import.meta.glob('./posts/*.md',{eager: true});
const allPosts = Object.values(posts);
const pageTitle = 'Il mio Blog di apprendimento di Astro';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Questo è dove pubblicherò sul mio percorso di apprendimento di Astro.</p>
  <ul>
    {allPosts.map((post:any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
    