---
import '../styles/global.css';
import '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const name = 'Romeo';
const pageTitle = 'Pagina Iniziale';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Il sottotitolo del mio fantastico blog</h2>
</BaseLayout>
